@import '../../../styles/variables/index';
@import '../../../styles/mixins/index';

.footer_section {
  min-height: 149px;
  margin-top: 20px;

  display: grid;
  align-self: end;
  align-items: start;
}

.Footer {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: 10px;
}

.navigation {
  height: 100%;
  display: grid;

  .links_section {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 10px;
  }

  .lang_section {
    width: max-content;
    display: flex;
    gap: 15px;
  }
}

.resources {
  display: flex;
  align-self: start;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: $SCREEN_S) {
  .resources {
    flex-direction: column;
  }
}

@media screen and (max-width: $SCREEN_XS) {
  .Footer {
    justify-content: space-between;
  }

  .navigation {
    .links_section {
      display: flex;
      flex-direction: column;
    }

  }
}