$WHITE: #FFFFFF;
$WHITE_DIRTY: #EAEAEA;
$GREY: #AAAAAA;
$GREY_LITTLE_DARK: #838383;
$GREY_DARK: #1C1C27;
$GREY_MORE_DARK: #0000001A;
$BLACK_ALMOST: #101010;
$BLACK: #000000;
$YELLOW: #FFCE7F;
$ORANGE_LIGHT: #FFA542;

// Background

$BGC_MAIN: $WHITE_DIRTY;
$BGC_WHITE: $WHITE;

// Text

$TEXT_HEADER: $BLACK_ALMOST;
$TEXT_HEADER_SECTION: $GREY_LITTLE_DARK;
$TEXT_PRICE_CART: $GREY;
$TEXT_TITLE: $GREY_DARK;
$TEXT_PRICE: $ORANGE_LIGHT;
$TEXT_PRICE_DISCOUNT: $YELLOW;
$TEXT_RANK: $GREY_LITTLE_DARK;
$TEXT_BUTTON_CLICK: $ORANGE_LIGHT;
$TEXT_DATA: $WHITE;
$TEXT_BLACK: $BLACK;

// Button

$BUTTON_TEXT_WHITE: $WHITE;
$BUTTON_BGC_DISABLED: $GREY_LITTLE_DARK;
$BUTTON_TEXT_BLACK: $BLACK;
$BUTTON_TEXT_ORANGE: $ORANGE_LIGHT;
$BUTTON_TEXT_BLACK_ALMOST: $BLACK_ALMOST;
$BUTTON_BGC: $BLACK_ALMOST;

// Input

$INPUT_BGC_DISABLED: $WHITE_DIRTY;
$BORDER_INPUT: $GREY_LITTLE_DARK;

// Link

$LINK_TEXT: $BLACK;

// Shadow
$SHADOW_COLOR: $GREY_MORE_DARK;

// Elements
$COUNTER_BGC: $ORANGE_LIGHT;
$ELLIPSE_BGC: $YELLOW;
$SCROLLBAR: $GREY_LITTLE_DARK;