// Roundings

$ROUNDING_MAIN: 30px;
$ROUNDING_FOOTER: 30px 30px 0 0;

// Transition

$TRANSITION_DELAY: 0ms;
$TRANSITION_DURATION: 150ms;
$TRANSITION_ANIMATION: linear;
$TRANSITION: $TRANSITION_DURATION $TRANSITION_ANIMATION;