// Screen

$SCREEN_WIDTH: 1110px;
$SCREEN_L: 900px;
$SCREEN_M: 770px;
$SCREEN_M: 770px;
$SCREEN_S: 600px;
$SCREEN_XS: 500px;
$SCREEN_XXS: 400px;

$SCREEN_POPUP: 650px;

// Roundings

$ROUNDING_BUTTON: 20px;
$ROUNDING_MAIN: 30px;
$ROUNDING_FOOTER: 30px 30px 0 0;

// Transition

$TRANSITION_DELAY: 0ms;
$TRANSITION_DURATION: 150ms;
$TRANSITION_ANIMATION: linear;
$TRANSITION: $TRANSITION_DURATION $TRANSITION_ANIMATION;