@import '../../../styles/variables/index';
@import '../../../styles/mixins/index';

.HeaderText {
  &_mainTitle {
    @include font-l-bold;
    color: $TEXT_HEADER
  }

  &_pageTitle {
    margin-top: 30px;
    @include font-m-bold;
    color: $TEXT_HEADER;
  }

  &_sectionTitle {
    @include font-m-bold;
    color: $TEXT_HEADER_SECTION;
  }
}