@import 'src/styles/variables/index';
@import '../../../styles/mixins/index';

.device_main {
  margin-top: 30px;

  display: grid;
  row-gap: 25px;

  .ul_devices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }
}